{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/back-call.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/teams.css' %}">
    <title>
        {% block title %}
            Default
        {% endblock %}
    </title>
</head>
<body>
    <div class="header">
        {% block header %}
            <ul class="container" id="navbar">
                <li id="logo"><a href="{% url 'main:home' %}"><img src="{% static 'img/logo.png' %}" alt="" width="60px" height="80px"></a></li>
                <li id="link"><a href="{% url 'main:home' %}">ГЛАВНАЯ</a></li>
                <li id="link"><a href="{% url 'main:about' %}">О КЛУБЕ</a></li>
                <li id="link"><a href="{% url 'main:teams' %}">КОМАНДА</a></li>
                <li id="link"><a href="">БЛОГ</a></li>
                <li id="link"><a href="">ПАРТНЁРЫ</a></li>
                <li id="link"><a href="{% url 'main:back_call' %}">КОНТАКТИЫ</a></li>
                <li>
                    <ul id="ls">
                        <li><button id="localisation">РУ</button></li>
                        <li id="shop"><a href="{% url 'main:products' %}">МАГАЗИН</a></li>
                    </ul>
                </li>
            </ul>
        {% endblock %}
    </div>
    <div class="content container">
        {% block content %}

        {% endblock %}
    </div>
    <div class="footer">
        {% block footer %}
            <div class="container">
                <p>&copy; 2022 TEAM SAVAGE</p>
            </div>
        {% endblock %}
    </div>
</body>
</html>