.about-title{
    margin-left: -16vh;
    margin-right: -16vh;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    height: 60px;
    margin-bottom: 20px;
}

.about-title p{
    color: #030305;
    font-size: 40px;
    -webkit-text-stroke-width: .4px;
    -webkit-text-stroke-color: #ffffff;
    margin-top: 5px;
}